h1 {
    text-align: center;
}
.header {
    margin-top: 3px;

}
.form h2 {
    padding: 5px;
}
.form label {
    padding: 5px;
}

.feedback-list {
    margin-top: 2rem;
    padding: 5px;
}